<!doctype html>
<html lang="en">

	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<!-- local static CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

		<!-- Feather icons CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		<!-- Syntax Highlighting CSS -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
		
		<title>IsoDiff</title>
	</head>
	<body>

		<!-- Syntax Highlighting JS -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
		
		<!-- Boostrap JS and Popper plugin-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

		<div class="container-grid" id="wrapper">
			<div class="row">
				<nav id="sidebarMenu" class="col-3 bg-light sidebar">
					<div class="sidebar-sticky pt-3">
						<ul id="txnList" class="nav flex-column">
							<!-- sidebar table list of transactions to view -->
						</ul>
					</div>
				</nav>

				<main class="col offset-3">
					<div class="d-flex justify-content-around align-items-center pt-3 pb-2 mb-3 border-bottom">
						<div class="dropdown">
							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
								changes
							</a>
							
							<ul id="change_list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<li><a class="dropdown-item" href="#">up to date</a></li>
							</ul>
						</div>
						
						<h1 class="h2" contentEditable="true" id="session_title">IsoDiff Analysis</h1>

						<div>
							<a class="bi bi-info-circle m-2" title="info" style="font-size: 1.5rem"></a>
							<a class="bi bi-arrow-repeat m-2" title="save & rerun" style="font-size: 1.5rem"></a>
						</div>
					</div>
					<div class="row" style="width: 100%">
						<div id="graph_area" class="col-auto">

							<!-- Content to be displayed while IsoDiff is running -->
							{% if job.status != "DONE" %}
							<h1>Running...</h1>
							{% endif %}
							
						</div>
						<nav id="toolbar" class="navbar col-auto" style="visibility: hidden; font-size: 1.5rem">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="bi bi-pencil" title="correlate"></a></li>
								<li class="nav-item"><a id="remove_button" class="bi bi-x-lg" title="remove"></a></li>
							</ul>
						</nav>
					</div>
					<div id="sql_area" style="visibility: hidden;">
					</div>
					
				</main>

			</div>
		</div>
	</body>
</html>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="{% static '/parser.js'%}"></script>
<script>
 let job_id = "{{job.key}}";
 let session_name = "IsoDiff Analysis";
 
 let current_state = {% autoescape off %}{{job.state}}{% endautoescape %};
 let incoming_json = {% autoescape off %}{{job.result}}{% endautoescape %};

 let SQLJSON = incoming_json.SQL_Examples;
 
 let txn_sql_map = new Map();
 let txn_sql_list = incoming_json.TransactionSqlMap;
 for(let i = 0; i < txn_sql_list.length; i++){
	 let index_example_list = [];
	 let sql_list_temp = txn_sql_list[i].sql_list;
	 for(let j = 0; j < sql_list_temp.length; j++){
		 index_example_list.push({"index": sql_list_temp[j], "statement": SQLJSON[sql_list_temp[j]].example})
	 }

	 let tid = txn_sql_list[i].tid;

	 txn_sql_map.set("(" + tid.txn_major + "," + tid.txn_minor + ")", index_example_list);
 }

 let major_id_to_letter_map = new Map();
 let all_major_ids = new Set();

 for(let i = 0; i < txn_sql_list.length; i++){
	 let tid = txn_sql_list[i].tid;
	 all_major_ids.add(tid.txn_major);
 }

 let all_major_ids_list = Array.from(all_major_ids);
 

 let changes = [];
 let red_edges = new Set();

 
 function visualize(log){

	 // Ensure the edits made with past graphs are saved
	 updateState()
	 
     // Remove any existing graph
     let curr_graphs = document.getElementById("graph_area").querySelectorAll("svg");
     for(let i = 0; i < curr_graphs.length; i++){
         curr_graphs[i].remove();
     }

     render_graph(log);
 }

 function render_graph(log){
	 
	 let edge_attrs = new Map();
	 let tempEdgeList = log.OpDepGraph.Edges;
	 for(let i = 0; i < tempEdgeList.length; i++){
		 let e = tempEdgeList[i];
		 let attrs = e.annotation;
		 attrs = attrs.map(x => x.toLowerCase())
		 if(e.Vulnerable){
			 attrs.push("vulnerable");
		 }

		 edge_attrs.set(e.src+","+e.dst, attrs);
	 }

	 let y_axis_graph_padding = 50;
	 
     let adj_list = genGraph(log);
     let g = getGraphLayout(adj_list, edge_attrs);
     var svg = d3.select("#graph_area")
				 .append("svg")
				 .attr("height", "60vh")
				 .attr("viewBox", "0 0 " + ((node_width * g.nodes.length) + 150) + " " + g.txns.length * 150)
				 .lower();

     width = +svg.attr("width"),
		 height = +svg.attr("height");

	 // Different color arrows for different types of lines
	 
     svg.append("defs").append("marker")
        .attr("id", "arrow-black")
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 10)
        .attr("refY", 0)
        .attr("markerWidth", 5)
        .attr("markerHeight", 10)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("fill", "black")
        .attr("d", "M0,-5L10,0L0,5");

	 svg.select("defs").append("marker")
        .attr("id", "arrow-orange")
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 10)
        .attr("refY", 0)
        .attr("markerWidth", 5)
        .attr("markerHeight", 10)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("fill", "orange")
        .attr("d", "M0,-5L10,0L0,5");

	 svg.select("defs").append("marker")
        .attr("id", "arrow-gray")
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 10)
        .attr("refY", 0)
        .attr("markerWidth", 5)
        .attr("markerHeight", 10)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("fill", "gray")
        .attr("d", "M0,-5L10,0L0,5");

	 svg.select("defs").append("marker")
        .attr("id", "arrow-red")
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 10)
        .attr("refY", 0)
        .attr("markerWidth", 5)
        .attr("markerHeight", 10)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("fill", "red")
        .attr("d", "M0,-5L10,0L0,5");
	 
     let transactions = svg.selectAll(".txn_label")
						   .data(g.txns)
						   .enter()
						   .append("foreignObject")
						   .attr("class", "txn_label")
						   .attr("x", function(d){
							   return d.x;
						   })
						   .attr("y", function(d){
							   return d.y;
						   })
						   .attr("width", y_axis_graph_padding)
						   .attr("height", "100%")
						   .append("xhtml:div")
						   .append("div")
						   .attr("contentEditable", true)
						   .attr("id", function(d){
							   let pair = d.txn.slice(1,-1).split(",");
							   return "txn"+pair[0]+"_"+pair[1];
						   })
	 					   .text(function(d){
							   if(current_state.hasOwnProperty("txn_names") && current_state.txn_names.hasOwnProperty(d.txn)){
								   return current_state.txn_names[d.txn];
							   } else {
								   return d.txn;
							   }
						   });
	 /*
	 	.on("click", function(d, i){	   
		d3.select("#el"+i).attr("visibility", "visible");

		d3.select("p").attr("visibility", "visible");

		document.getElementById("sql_area").style.visibility = "visible";

		let statement_list = txn_sql_map.get(d.txn);
		
		let detail_box = "<b>Statements for " + d.txn + "</b>: <br><br>";

		for(let i = 0; i < statement_list.length; i++){
		detail_box += "<b>" + statement_list[i].index + "</b>: " + statement_list[i].statement + "<br><br>";
		}
		
		document.getElementById("sql_area").innerHTML = detail_box;
		});
	  */
     var link = svg.selectAll("line")
				   .data(g.links)
				   .enter()
				   .append("line")
				   .attr("class", "links")
				   .attr("x1", function(d){
					   return y_axis_graph_padding + d.source.x;
				   })
				   .attr("y1", function(d){
					   return d.source.y;
				   })
				   .attr("x2", function(d){
					   return y_axis_graph_padding + d.target.x;
				   })
				   .attr("y2", function(d){
					   return d.target.y;
				   })
				   .attr("id", function(d){
					   return "l"+d.source.index+"_"+d.target.index;
				   })
				   .attr("stroke-width", 3)
				   .attr("stroke", function(d){
					   if(red_edges.has(d.source.index+"-"+d.target.index)){
						   return "red";
					   }
					   
					   if(d.attrs.includes("original")){
						   return "black";
					   } else if(d.attrs.includes("correlated")){
						   return "orange";
					   }
				   })
				   .attr("stroke-dasharray", function(d){
					   if(d.attrs.includes("shadow")){
						   return "4"
					   } else {
						   return "100%"
					   }
				   })
				   .attr("marker-end", function(d){
					   if(red_edges.has(d.source.index+"-"+d.target.index)){
						   return "url(#arrow-red)";
					   }
					   
					   if(d.attrs.includes("original")){
						   return "url(#arrow-black)";
					   } else if(d.attrs.includes("correlated")){
						   return "url(#arrow-orange)";
					   }
				   })
				   .on("click", function(d, i){ 
					   // This is needed to ensure that the edges go back to their original color
					   d3.selectAll("line")
						 .attr("stroke", function(d){
							 if(red_edges.has(d.source.index+"-"+d.target.index)){
								 return "red";
							 }
							 
							 if(d.attrs.includes("original")){
								 return "black";
							 } else if(d.attrs.includes("correlated")){
								 return "orange";
							 }
						 })
						 .attr("marker-end", function(d){
							 if(red_edges.has(d.source.index+"-"+d.target.index)){
								 return "url(#arrow-red)";
							 }
							 
							 if(d.attrs.includes("original")){
								 return "url(#arrow-black)";
							 } else if(d.attrs.includes("correlated")){
								 return "url(#arrow-orange)";
							 }
						 });

					   // Needed to ensure all nodes return to original color
					   d3.selectAll("rect").attr("stroke", "black");
					   
					   d3.select("#el"+i).attr("visibility", "visible");
					   d3.select(this).attr("stroke", "gray").attr("marker-end", "url(#arrow-gray)");
					   d3.select("#n"+d.source.index).attr("stroke", "gray");
					   d3.select("#n"+d.target.index).attr("stroke", "gray");

					   d3.select("p").attr("visibility", "visible");

					   document.getElementById("sql_area").style.visibility = "visible";
					   
					   // Unhide toolbar
					   document.getElementById("toolbar").style.visibility = "visible";

					   document.getElementById("remove_button").onclick = function(){deleteEdge(d)};

					   let detail_box = "";
					   
					   // Add highlighting
					   let object_info = incoming_json.OperationList[d.source.index].Object;
					   let table_name = object_info.Table;
					   let first_column_name = object_info.Columns[0];
					   let stmt_with_highlight_src = SQLJSON[d.source.sql].example.replace(new RegExp("([^A-Za-z0-9_-])("+first_column_name+")([^A-Za-z0-9_-])", "gi"), "$1<mark>$2</mark>$3");
					   
					   detail_box += "<b>source</b>: " + stmt_with_highlight_src + "<br><br>";
					   
					   object_info = incoming_json.OperationList[d.target.index].Object;
					   table_name = object_info.Table;
					   first_column_name = object_info.Columns[0];
					   let stmt_with_highlight_dest = SQLJSON[d.target.sql].example.replace(new RegExp("([^A-Za-z0-9_-])("+first_column_name+")([^A-Za-z0-9_-])", "gi"), "$1<mark>$2</mark>$3");
					   
					   
					   detail_box += "<b>destination</b>: " + stmt_with_highlight_dest + "<br><br>";
					   
					   document.getElementById("sql_area").innerHTML = detail_box;
				   });

     // Adding the nodes
     var node = svg.append("g")
				   .attr("class", "nodes")
				   .selectAll("g")
				   .data(g.nodes)
				   .enter().append("g");

     var rect = node.append("rect")
					.attr("x", function(d){
						return y_axis_graph_padding + d.x;
					})
					.attr("y", function(d){
						return d.y;
					})
					.attr("id", function(d){
						return "n" + d.index;
					})
					.attr("width", node_width)
					.attr("height", node_height)
					.attr("rx", 5)
					.attr("ry", 5)
					.attr("stroke", "#000000")
					.attr("stroke-width", 2)
					.attr("fill", "#FFFFFF")
					.attr("fill-width", 5)
					.on("click", function(d, i){


						document.getElementById("sql_area").style.visibility = "visible";
						let statement_list = txn_sql_map.get(d.label);
						
						let detail_box = "<b>Statements for " + d.label + "</b>: <br><br>";

						let target_idx = d.sql;
						for(let i = 0; i < statement_list.length; i++){
							let stmt = statement_list[i];
							if(stmt.index == target_idx){
								let object_info = incoming_json.OperationList[d.index].Object;
								let table_name = object_info.Table;
								let first_column_name = object_info.Columns[0];
								stmt_with_highlight = stmt.statement.replace(new RegExp("([^A-Za-z0-9_-])("+first_column_name+")([^A-Za-z0-9_-])", "gi"), "$1<mark>$2</mark>$3");
								detail_box += "<b>" + stmt.index + "</b><b>: " + stmt_with_highlight + "</b><br><br>";
							} else {
								detail_box += "<b>" + stmt.index + "</b>: " + stmt.statement + "<br><br>";
							}
						}
						
						document.getElementById("sql_area").innerHTML = detail_box;

					});

     var node_labels = node.append("text")
						   .text(function(d) {
							   let object_info = incoming_json.OperationList[d.index].Object;
							   let table_name = object_info.Table;
							   let first_column_name = object_info.Columns[0];
							   let object_label = first_column_name;
							   let cutoff = 8;
							   if(object_label.length >= cutoff){
								   object_label = object_label.substring(0, cutoff) + "...";
							   }
							   return d.type + "(" + object_label + ")";
						   })
						   .attr('x', function(d){
							   return y_axis_graph_padding + d.x + node_width/2;
						   })
						   .attr('y', function(d){
							   return d.y + node_height/2;
						   })
						   .attr('dominant-baseline', 'middle')
						   .attr('text-anchor', 'middle');
	 

     node.append("title")
         .text(function(d) { return d.id; });

     svg.append("type").attr("class", "labels");


     var node = svg.append("g")
				   .attr("class", "nodes")
				   .selectAll("g")
				   .data(g.nodes)
				   .enter().append("g");

 }

 
 let SQLMap = new Map();
 
 for(let i = 0; i < SQLJSON.length; i++){
	 SQLMap.set(SQLJSON[i].sql_index, SQLJSON[i].example)
 }

 
 let DeltaCycles = incoming_json.DeltaCycles;

 // Maps for state information
 let cycleFavs = new Map();
 let cycleTags = new Map();
 let cycleNames = new Map();
 
 // Get a reference to the table
 let txnHTMLList = document.getElementById("txnList");


 function addTag(index){
	 if(!cycleTags.has(index)){
		 let liElement = "l"+index;
		 let listElement = document.getElementById(liElement);
		 let tagText = document.createElement("i");
		 tagText.setAttribute("contenteditable", "true");
		 tagText.setAttribute("id", "t"+index);
		 tagText.innerHTML = "click to add edit tag...";
		 listElement.appendChild(tagText);
		 cycleTags.set(index, true);
	 }
 }

 // This function toggles the favoriting of a cycle
 function favoriteCycle(index){
	 if(cycleFavs.has(index)){
		 cycleFavs.delete(index);
		 document.getElementById("fav"+index).setAttribute("class", "bi bi-star");
		 updateState();
	 } else {
		 cycleFavs.set(index, true);
		 document.getElementById("fav"+index).setAttribute("class", "bi bi-star-fill");
		 updateState();
	 }
	 
 }

 function deleteEdge(d){
	 let src_num = d.source.index;
	 let dst_num = d.target.index;
	 
	 console.log("Adding ("+src_num+","+dst_num+") to delete list");
	 d3.select("#l"+src_num+"_"+dst_num).attr("stroke", "red").attr("marker-end", "url(#arrow-red)");
	 let changes_dropdown = document.getElementById("change_list")
	 console.log(d);
	 if(changes.length == 0){
		 changes_dropdown.innerHTML = `<li><a class="dropdown-item" href="#">remove `+d.source.name+`→`+d.target.name+`</a></li>`;
	 } else {
		 changes_dropdown.insertAdjacentHTML("beforeend", `<li><a class="dropdown-item" href="#">remove `+d.source.name+`→`+d.target.name+`</a></li>`);
	 }
	 
	 changes.push({"delete": {
		 "src": src_num,
		 "dst": dst_num
	 }});

	 red_edges.add(src_num+"-"+dst_num);
 }

function drawCycle(index){
	 updateState();
	 visualize(DeltaCycles[index]);
 }

 // Creating the list for the table on the left
 for(let i = 0; i < DeltaCycles.length; i++){


	 let txnsText = "T: ";
	 let txn_names = DeltaCycles[i].TxnDepGraph.TxnNodes.map(x => "("+x.tid.txn_major+","+x.tid.txn_minor+")");
	 let noDupSet = new Set(txn_names);
	 let txn_keys = Array.from(noDupSet);
	 
	 txn_keys.sort((a, b) => {
		 return a.toString().localeCompare(b);
	 });
	 let labels = [];
	 
	 for(let j = 0; j < txn_keys.length; j++){
		 let key = txn_keys[j];
		 if(current_state.hasOwnProperty("txn_names") && current_state.txn_names.hasOwnProperty(key)){
			 labels.push(current_state.txn_names[key]);
		 } else {
			 labels.push(key);
		 }		 
	 }
	 
	 txnsText += labels.join(", ");
	 
	 let listElement = document.createElement("li");
	 listElement.classList.add("nav-item");

	 // i SHOULD be equivalent to the index of the DeltaCycle in the list provided in the JSON output
	 listElement.id = "l"+i;
	 if(i != DeltaCycles.length-1){
		 listElement.classList.add("border-bottom");
	 }
	 listElement.classList.add("align-items-center");

	 
	 
	 
	 let textElement = document.createElement("p");
	 textElement.setAttribute("contentEditable", "true");
	 textElement.setAttribute("id", "c"+i);
	 textElement.addEventListener("input", function(e){
		 console.log(e);
		 cycleNames.set(i, true);
	 });
	 //let textNode = document.createTextNode(txnsText);
	 textElement.innerHTML = txnsText;
	 listElement.appendChild(textElement);
	 
	 let drawElement = document.createElement("a");
	 drawElement.setAttribute("class", "bi bi-eye")
	 drawElement.setAttribute("href", "javascript:drawCycle("+i+")");

	 listElement.appendChild(drawElement);

	 
	 
	 let tagElement = document.createElement("a");
	 tagElement.setAttribute("class", "bi bi-tag");
	 tagElement.setAttribute("href", "javascript:addTag("+i+")");
	 
	 listElement.appendChild(tagElement);
	 
	 let favElement = document.createElement("a");
	 favElement.id = "fav"+i;
	 if(cycleFavs.has(i)){
		 favElement.setAttribute("class", "bi bi-star-fill");
	 } else {
		 favElement.setAttribute("class", "bi bi-star");
	 }
	 
	 favElement.setAttribute("href", "javascript:favoriteCycle("+i+")");

	 listElement.appendChild(favElement);

	 //listElement.appendChild(textElement);
	 txnHTMLList.appendChild(listElement);

 }

 // Setting initial session name
 if(!current_state.hasOwnProperty("session_name")){
	 document.getElementById("session_title").innerHTML = session_name;
 } else {
	 document.getElementById("session_title").innerHTML = current_state.session_name;
 }
 
 // Setting initial favorites
 if(current_state.hasOwnProperty("favorites")){
	 for(let i = 0; i < current_state.favorites.length; i++){
		 favoriteCycle(current_state.favorites[i])
	 }
 }
 // Setting initial tags
 if(current_state.hasOwnProperty("tags")){
	 for(let i = 0; i < current_state.tags.length; i++){
		 let index = current_state.tags[i].index;
		 addTag(index);
		 document.getElementById("t"+index).innerHTML = current_state.tags[i].content;
	 }
 }
 // Setting initial cycle names
 if(current_state.hasOwnProperty("cycle_names")){
	 for(let i = 0; i < current_state.cycle_names.length; i++){
		 let index = current_state.cycle_names[i].index;
		 document.getElementById("c"+index).innerHTML = current_state.cycle_names[i].content;
	 }
 }

 function updateState(){

	 // Updating session name
	 session_name = document.getElementById("session_title").innerHTML;
	 console.log(session_name);
	 
	 // Updating list of favorites
	 let favorites = [...cycleFavs.entries()].map(x => x[0]);

	 // Updating tags for cycles
	 let tags = [];
	 for(let i = 0; i < DeltaCycles.length; i++){
		 let corr_tag = document.getElementById("t"+i);
		 if(corr_tag != null){
			 tags.push({"index": i, "content": corr_tag.innerHTML});
 		 }
	 }

	 // Updating names for cycles
	 let cycle_names = [];
	 for(let i = 0; i < DeltaCycles.length; i++){
		 let corr_name = document.getElementById("c"+i);
		 if(corr_name != null && cycleNames.has(i)){
			 cycle_names.push({"index": i, "content": corr_name.innerHTML});
		 }
	 }

	 // Updating txn names
	 let new_txn_names = {};
	 if(current_state.hasOwnProperty("txn_names")){
		 new_txn_names = current_state.txn_names; 
	 }
	 
	 for(let i = 0; i < incoming_json.TransactionSqlMap.length; i++){
		 let txn = incoming_json.TransactionSqlMap[i];
		 let txn_elem = document.getElementById("txn"+txn.tid.txn_major+"_"+txn.tid.txn_minor);
		 if(txn_elem != null){
			 new_txn_names["("+txn.tid.txn_major+","+txn.tid.txn_minor+")"] = txn_elem.innerHTML;
		 }
	 }
	 
	 let state = {
		 "session_name": session_name,
		 "favorites": favorites,
		 "tags": tags,
		 "txn_names": new_txn_names,
		 "cycle_names": cycle_names
	 }

	 
	 postData("/update/"+job_id, data = state);
 }

 async function postData(url = "", data = {}){
	 const response = await fetch(url, {
		 method: "POST", // *GET, POST, PUT, DELETE, etc.
		 mode: "cors", // no-cors, *cors, same-origin
		 cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
		 credentials: "same-origin", // include, *same-origin, omit
		 headers: {
			 "Content-Type": "application/json",
			 "X-CSRFToken": Cookies.get("csrftoken")
			 // 'Content-Type': 'application/x-www-form-urlencoded',
		 },
		 redirect: 'follow', // manual, *follow, error
		 referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
		 body: JSON.stringify(data) // body data type must match "Content-Type" header
	 });

	 return response.json();

 }
 
 // Save state every 5 seconds
 window.setInterval(updateState, 5000);
</script>
