<!doctype html>
<html lang="en">

	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<!-- local static CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

		<!-- Feather icons CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		
		<title>IsoDiff</title>
	</head>
	<body>

		<!-- Boostrap JS and Popper plugin-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


		<!-- Content to be displayed while IsoDiff is running -->
		{% if job.status != "DONE" %}
		<h3>Running...</h3>

		<!-- Content to be dispayed after IsoDiff is finished -->
		{% else %}

		<div class="container-fluid" id="wrapper">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="position-sticky pt-3">
						<ul id="txnList" class="nav flex-column">
							<!-- sidebar table list of transactions to view -->
						</ul>
					</div>
				</nav>

				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">{{job.key}}</h1>
					</div>
					<div id="graph_area"></div>
					<div id="sql_area" style="visibility: hidden;">
						<p class="key">Type: </p><p id="op_type"></p>
						<p class="key">Related SQL Statement: </p>
  						<p id="sql_src_index"</p><p id="sql_stmt_src"></p>
						<p id="sql_dst_index"</p><p id="sql_stmt_dst"></p>
					</div>
				</main>

			</div>
		</div>
	</body>
</html>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="{% static '/parser.js'%}"></script>
<script>
 
 let incoming_json = JSON.parse(`{% autoescape off %}{{job.result}}{% endautoescape %}`);

 let SQLJSON = incoming_json.SQL_Examples;
 function visualize(log){

     // Remove any existing graph
     let curr_graphs = document.getElementsByTagName("svg");
     for(let i = 0; i < curr_graphs.length; i++){
         curr_graphs[i].remove();
     }

     render_graph(log);
 }

 function render_graph(log){

	 let edge_attrs = new Map();
	 let tempEdgeList = log.OpDepGraph.Edges;
	 for(let i = 0; i < tempEdgeList.length; i++){
		 let e = tempEdgeList[i];
		 let attrs = e.annotation;
		 attrs = attrs.map(x => x.toLowerCase())
		 if(e.Vulnerable){
			 attrs.push("vulnerable");
		 }

		 edge_attrs.set(e.src+","+e.dst, attrs);
	 }
	 
     let adj_list = genGraph(log);
     let g = getGraphLayout(adj_list, edge_attrs);

     var svg = d3.select("#graph_area")
				 .append("svg")
				 .attr("width", (node_width * g.nodes.length) + 150)
				 .attr("height", g.txns.length * 150)
				 .lower();

     width = +svg.attr("width"),
		 height = +svg.attr("height");

     svg.append("defs").append("marker")
        .attr("id", "arrow")
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 10)
        .attr("refY", 0)
        .attr("markerWidth", 5)
        .attr("markerHeight", 10)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("color", "black")
        .attr("d", "M0,-5L10,0L0,5");

     let transactions = svg.selectAll(".txn_label")
						   .data(g.txns)
						   .enter()
						   .append("text")
						   .text(function(d){
							   return d.txn;
						   })
						   .attr("class", "txn_label")
						   .attr("x", function(d){
							   return d.x;
						   })
						   .attr("y", function(d){
							   return d.y;
						   });

     var link = svg.selectAll("line")
				   .data(g.links)
				   .enter()
				   .append("line")
				   .attr("class", "links")
				   .attr("x1", function(d){
					   return d.source.x + (node_width/2);
				   })
				   .attr("y1", function(d){
					   return d.source.y + (node_height/2);
				   })
				   .attr("x2", function(d){
					   return d.target.x + (node_width/2);
				   })
				   .attr("y2", function(d){
					   return d.target.y + (node_height/2);
				   })
				   .attr("stroke-width", 3)
				   .attr("stroke", function(d){
					   // Returns orange
					   if(d.attrs.includes("original")){
						   return "black";
					   } else if(d.attrs.includes("correlated")){
						   return "orange";
					   }
				   })
				   .attr("stroke-dasharray", function(d){
					   if(d.attrs.includes("shadow")){
						   return "4"
					   } else {
						   return "100%"
					   }
				   })
				   .attr("marker-end", "url(#arrow)")
				   .on("click", function(d, i){
					   // This is needed to ensure that the edges go back to their original color
					   d3.selectAll("line").attr("stroke", function(d){
						   // Returns orange
						   if(d.attrs.includes("original")){
							   return "black";
						   } else if(d.attrs.includes("correlated")){
							   return "orange";
						   }
					   })
					   
					   d3.select("#el"+i).attr("visibility", "visible");
					   d3.select(this).attr("stroke", "grey");

					   d3.select("p").attr("visibility", "visible");

					   document.getElementById("sql_area").style.visibility = "visible";
					   document.getElementById("op_type").innerHTML = d.source.type + d.target.type;
					   document.getElementById("sql_src_index").innerHTML = d.source.sql;
					   document.getElementById("sql_dst_index").innerHTML = d.target.sql;
					   document.getElementById("sql_stmt_src").innerHTML = SQLJSON[d.source.sql].example;
					   document.getElementById("sql_stmt_dst").innerHTML = SQLJSON[d.target.sql].example;
				   })
     /*.on("mouseout", function(d, i){
		d3.select("#el"+i).attr("visibility", "hidden");
		d3.select(this).attr("stroke", "black");

		document.getElementById("sql_area").style.visibility = "hidden";
		document.getElementById("op_type").innerHTML = "";
		document.getElementById("sql_stmt_src").innerHTML = "";
		document.getElementById("sql_stmt_dst").innerHTML = "";
		})*/;

     // Adding the nodes
     var node = svg.append("g")
				   .attr("class", "nodes")
				   .selectAll("g")
				   .data(g.nodes)
				   .enter().append("g");

     var rect = node.append("rect")
					.attr("x", function(d){
						return d.x;
					})
					.attr("y", function(d){
						return d.y;
					})
					.attr("width", node_width)
					.attr("height", node_height)
					.attr("rx", 5)
					.attr("ry", 5)
					.attr("stroke", "#000000")
					.attr("stroke-width", 2)
					.attr("fill", "#FFFFFF")
					.attr("fill-width", 5);

     var node_labels = node.append("text")
						   .text(function(d) {
							   return d.type + "(" + d.op_num + ")";
						   })
						   .attr('x', function(d){
							   return d.x + 10;
						   })
						   .attr('y', function(d){
							   return d.y + 30;
						   });

     node.append("title")
         .text(function(d) { return d.id; });

     svg.append("type").attr("class", "labels");


     var node = svg.append("g")
				   .attr("class", "nodes")
				   .selectAll("g")
				   .data(g.nodes)
				   .enter().append("g");

 }

 function addTag(liElement){
	 let listElement = document.getElementById(liElement);
	 let tagText = document.createElement("i");
	 tagText.setAttribute("contenteditable", "true");
	 tagText.innerHTML = "click to add edit tag...";
	 listElement.appendChild(tagText);
 }
 
 let SQLMap = new Map();
 
 for(let i = 0; i < SQLJSON.length; i++){
	 SQLMap.set(SQLJSON[i].sql_index, SQLJSON[i].example)
 }

 
 let DeltaCycles = incoming_json.DeltaCycles;

 // Get a reference to the table
 let txnHTMLList = document.getElementById("txnList");


 for(let i = 0; i < DeltaCycles.length; i++){


	 let txnsText = "T: ";
	 let labels = DeltaCycles[i].TxnDepGraph.TxnNodes.map(x => "("+x.tid.txn_major+","+x.tid.txn_minor+")");
	 let noDupSet = new Set(labels);
	 labels = Array.from(noDupSet);
	 labels.sort((a, b) => {
		 return a.toString().localeCompare(b);
	 });
	 for(let j = 0; j < labels.length; j++){
		 txnsText += labels[j]
	 }
	 
	 let listElement = document.createElement("li");
	 listElement.classList.add("nav-item");
	 listElement.id = "l"+i;
	 if(i != DeltaCycles.length-1){
		 listElement.classList.add("border-bottom");
	 }
	 listElement.classList.add("align-items-center");

	 
	 
	 
	 let textElement = document.createElement("p");
	 let textNode = document.createTextNode(txnsText);
	 textElement.appendChild(textNode);
	 
	 let drawElement = document.createElement("a");
	 drawElement.setAttribute("class", "bi bi-eye")
	 drawElement.setAttribute("href", "javascript:visualize(DeltaCycles["+i+"])");

	 textElement.appendChild(drawElement);

	 
	 
	 let tagElement = document.createElement("a");
	 tagElement.setAttribute("class", "bi bi-tag");
	 tagElement.setAttribute("href", "javascript:addTag('l"+i+"')")
	 
	 textElement.appendChild(tagElement);
	 


	 listElement.appendChild(textElement);
	 txnHTMLList.appendChild(listElement);
	 
 }
 

 
</script>

{% endif %}
