<!doctype html>

<html lang="en">
	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


		<!-- Feather icons CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		<title>IsoDiff: Submit</title>
	</head>
	<body>
		<!-- Boostrap JS and Popper plugin-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

		<div class="container">

			<div class="row justify-content-center">
				
				<h1 class="m-4 text-center">IsoDiff</h1>

				<form action="/createJob" name="createJobForm" method="post" id="createJobForm" enctype="multipart/form-data" class="row gy-1 gx-3 justify-content-center">
					{% csrf_token %}


					<div class="col-md-6 no-gutters">

						<div class="row cform-row">
							<label for="logInput" class="form-label">SQL Log</label>
							<input type="file" id="logInput" name="sql_log" class="form-control">
						</div>
						
						<div class="row cform-row">
							<label for="schemaInput" class="form-label">Schema File</label>
							<input type="file" id="schemaInput" name="sql_schema" class="form-control">
						</div>


						<div class="row cform-row">
							<label for="pInput" class="form-label">Worker Threads (-p)</label>
							<input type="number" id="pInput" name="worker_threads" class="form-control" placeholder="number of worker threads (optional)">
						</div>

						<div class="row cform-row">
							<label for="kInput" class="form-label">Transaction Level Cyles (-k)</label>
							<input type="number" id="kInput" name="transaction_cycles" class="form-control" placeholder="number of transaction level cycles to explore (optional)">
						</div>

						<div class="row cform-row">
							<label for="nInput" class="form-label">Operation Level Cycles (-n)</label>
							<input type="number" id="nInput" name="operation_cycles" class="form-control" placeholder="number of operation level cycles to validate (optional)">
						</div>

						<div class="row cform-row">
							<label for="iInput" class="form-label">Isolation Level (-i)</label>
							<select id="iInput" class="form-select" aria-label=".form-select-sm" name="isolation_level">
								<option value="rc" selected>Read Committed</option>
								<option value="si">Snapshot</option>
							</select>
						</div>

						<div class="row cform-row">
							<label for="sInput" class="form-label">Search Strategy (-s)</label>
							<select id="sInput" class="form-select" aria-label=".form-select-sm" name="search_strategy">
								<option value="b" selected>b</option>
								<option value="n">n</option>
							</select>
						</div>

						<div class="row cform-row">
							<label for="jInput" class="form-label">Time Limit on Search (-j)</label>
							<input type="number" id="jInput" name="time_limit" class="form-control" placeholder="time limitation on recursive search">
						</div>

						<div class="row cform-row">
							<label for="cInput" class="form-label">Max Number of Cycles Found (-c)</label>
							<input type="number" id="cInput" name="num_cycle_limit" class="form-control" placeholder="maximum cycles found and displayed">
						</div>
						
						<div class="row cform-row">
							<label for="seedInput" class="form-label">Random Seed (-r)</label>
							<input type="number" id="seedInput" name="random_seed" class="form-control" placeholder="specify seed (optional)">
						</div>
						
						<div class="row cform-row">
							<button type="submit" class="btn btn-primary form-control">submit</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</body>


</html>
<style>
 .cform-row {
	 padding: 1rem;
 }
</style>
